@import 'reset';

/* Sass variables */
$font-primary: 'Calibre Light', sans-serif;
$font-emphasis: 'Calibre Regular', sans-serif;

/* Styling guides */
// div, li, ul {
//   border: 1px solid black;
// }

/* General styling */
// html {
//   font-family:$font-primary;
//   font-size: 16px;
// }

body {
  font-family: $font-primary;
  // box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: $font-primary
  // color: black;
}
a:link {
  color: #000000;
}
a:visited {
  color:rgb(117, 119, 119)
}
a:hover {
  color: black;
  text-decoration: underline;
}

.container {
  display: flex;
}

/**** Header ****/
nav {
  @extend footer;
  font-family: $font-primary;
  font-weight: 200;
  font-style: normal;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  a {
    display: inline-block;
    margin: 1em;
  }
}


/**** Auth-form ****/
form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}

/**** ALL PRODUCTS COMPONENT ****/
/* Categories Pane */
.left-pane {
  width: 25%;
  font-size: 20px;
  p {
    margin: 5px 0;
  }
  border: 0.5px solid #808080;
  padding-left: 10px;
}
#em-categories {
  font-weight: 700;
  text-decoration: underline;
}


/* All categories flexbox */
#products-pane {
  @extend .container;
  float: left;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.product-preview {
  display: block;
  flex-direction: row;
  border: 0.5px solid #bbbbbb;
  margin: 5px 2.5px;
}

.product-preview img {
  width: 125px;
  height: 125px;
  padding: 5px;
}


/* Homepage */
.homepage {
  align-items: center;

  section {
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
#mission {
  text-align: center;
}
#best-sellers {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#our-difference {
  display: flex;
  .difference {
    text-align: center;
    width: 30%;
  }
}


footer {
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 50px;
  margin: 15px;
  border-top:0.5px;
  font-family: $font-primary;
}

.logo{
  height: 2em;
}


