// @import 'reset';

/* Styling guides */
// div, li, ul {
//   border: 1px solid black;
// }

/* General styling */

/* latin */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle'), local('NewsCycle'), url(https://fonts.gstatic.com/s/newscycle/v14/9Xe8dq6pQDsPyVH2D3tMQgzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: local('News Cycle Bold'), local('NewsCycle-Bold'), url(https://fonts.gstatic.com/s/newscycle/v14/G28Ny31cr5orMqEQy6ljt2aVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Raleway Dots';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway Dots'), local('RalewayDots-Regular'), url(https://fonts.gstatic.com/s/ralewaydots/v5/lhLgmWCRcyz-QXo8LCzTfBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  font-style: regular;
  // box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  font-style: regular;  // color: black;
}
a:link {
  color: #000000;
}
a:visited {
  color:rgb(117, 119, 119)
}
a:hover {
  color: black;
  text-decoration: underline;
}

.container {
  display: flex;
}

/**** Header ****/
nav {
  @extend footer;
  font-family: 'Calibre Light', sans-serif;
  font-weight: 200;
  font-style: normal;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  a {
    display: inline-block;
    margin: 1em;
  }
}


/**** Auth-form ****/
form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}

/**** ALL PRODUCTS COMPONENT ****/
/* Categories Pane */
.left-pane {
  width: 25%;
  font-size: 20px;
  p {
    margin: 5px 0;
  }
  border: 0.5px solid #808080;
  padding-left: 10px;
}
#em-categories {
  font-weight: 700;
  text-decoration: underline;
}


/* All categories flexbox */
#products-pane {
  @extend .container;
  float: left;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.product-preview {
  display: block;
  flex-direction: row;
  border: 0.5px solid #bbbbbb;
  margin: 5px 2.5px;
}

.product-preview img {
  width: 125px;
  height: 125px;
  padding: 5px;
}


/**** HOMEPAGE COMPONENT ****/
.homepage {
  align-items: center;
  width: 100%;

  section {
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

#carousel {
  max-width: 100%;
}

#mission {
  text-align: center;
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  background-color: hsla(171, 10%, 74%, 0.753);
  h2 {
    font-style: normal;
  }
}

#best-sellers {
  text-align: center;
}
#store-difference {
  padding-top: 25px;
  h1 {
    margin-bottom: 25px;
  }
}
#differences {
  display: flex;
  justify-content: space-around;
  background-color: hsla(166, 25%, 90%, 0.753);
  .difference {
    text-align: center;
    width: 30%;
    border: 1.5px dotted #808080;
  }
}


footer {
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 50px;
  margin: 15px;
  border-top:0.5px;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  font-style: regular;
}

.logo{
  height: 2em;
}


